Source: dvisvgm
Section: tex
Priority: optional
Maintainer: Debian TeX Task Force <debian-tex-maint@lists.debian.org>
Uploaders: Hilmar Preuße <hille42@debian.org>,
           Norbert Preining <norbert@preining.info>
Build-Depends:
 debhelper-compat (= 13),
 autoconf-archive,
 asciidoc-base,
 xmlto,
 xsltproc,
 libkpathsea-dev,
 libbrotli-dev,
 libwoff-dev,
 libgs-dev,
 libfreetype-dev,
 libpotrace-dev,
 libxxhash-dev,
 libttfautohint-dev,
 pkgconf,
 python3 <!nocheck>,
 python3-lxml <!nocheck>
Rules-Requires-Root: no
Standards-Version: 4.7.2
Homepage: https://dvisvgm.de/
Vcs-Git: https://github.com/debian-tex/dvisvgm.git
Vcs-Browser: https://github.com/debian-tex/dvisvgm

Package: dvisvgm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: mupdf-tools
Breaks: texlive-binaries (<= 2019.20190605.51237-2)
Replaces: texlive-binaries (<= 2019.20190605.51237-2)
Enhances: texlive-binaries
Description: DVI to SVG converter
 dvisvgm is a utility for TeX/LaTeX users. It converts DVI, EPS, and
 PDF files to the XML-based scalable vector graphics format SVG.
